[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SportMiner"]
	path = SportMiner
	url = https://github.com/praveenmaths89/sportminer
[submodule "vald.extractor"]
	path = vald.extractor
	url = https://github.com/praveenmaths89/vald.extractor
